*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
}
.site-header{
  padding: 35px 0px 112px 0px;
}
.container{
  width: 1155px;
  margin: 0 auto;
}
.row{
  display: flex;
  flex-direction: row;
}
.header-inner{
  justify-content: space-between;
}
.list-link:hover{
  opacity: 1;
}
.list-link{
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  text-decoration: none;
}
.list-item:not(:last-child){
  margin-right: 53px;
}
.nav-list{
  list-style: none;
}
.btn{
  padding: 15px 30px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.header-btn1{
  color: #021206;
}
.header-btn2{
  color: #fff;
  background-color: #F44545;
  transition: 1s ease;
}
.header-btn2:hover{
  color: #F44545;
  background-color: #fff;
  outline: 2px solid #F44545;
}
#hero{
  padding-bottom: 136px;
}

.hero-heading{
  font-weight: 600;
  font-size: 54px;
  line-height: 81px;
  color: #021206;
  margin-bottom: 25px;
}
.hero-heading span{
  color: #1fd196;
}
.hero-text{
  font-size: 21px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 30px;
}
.hero-desc{
  width: 490px;
}
.hero-img{
  position: relative;
  left: 60px;
  width: 400px;
}
.hero-form{
  align-items: center;
  margin-bottom: 40px;
}
.hero-input{
  width: 490px;
  height: 65px;
  background: #FFFFFF;
  border-radius: 6px;
  border: none;
  font-size: 18px;
  line-height: 27px;
  color: #021206;
  opacity: 0.5;
  box-shadow: -5px 5px 45px rgba(2, 18, 6, 0.45);
  padding-left: 10px;
}
.hero-btn{
  position: relative;
  right: 110px;
  background-color: #F44545;
  color: #FFF;
  height: 53px;
  transition: 1s ease;
}
.hero-btn:hover{
  color: #F44545;
  background-color: #fff;
  outline: 2px solid #F44545;
}
.hero-app img{
  margin-right: 30px;
}
.partners{
  padding-block: 55px;
  background-color: rgba(142, 230, 201, 0.3);
}
.partners-list{
  list-style: none;
  justify-content: space-between;
}
.software{
  padding: 110px 0px;
}
.software-inner{
  justify-content: space-between;
}
.software-desc{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.heading{
  font-weight: 600;
  font-size: 45px;
  line-height: 67px;
  color: #021206;
  margin-bottom: 20px;
}
.heading-text{
  font-size: 18px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
  margin-bottom: 16px;
}

.software-btn1{
  background-color: #282323;
  color: #fff;
  transition: 1s ease;
}
.software-btn1:hover{
  color: #282323;
  background-color: #fff;
  outline: 2px solid #282323;
}
.heading-text:last-of-type{
  margin-bottom: 50px;
}
.software-btn2{
  color: #FF4D4D;
}
.software-list{
  list-style: none;
  flex-wrap: wrap;
  width: 590px;
  justify-content: space-between;
}
.software-items{
  width: 282px;
  background-color: #fff;
  box-shadow: 0px 15px 65px rgba(65, 77, 68, 0.15);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 35px 13px 36px 35px;
}
.software-heading{
  font-weight: 600;
  font-size: 21px;
  line-height: 31px;
  color: #021206;
  opacity: 0.8;
  margin-bottom: 9px;
}
.software-text{
  font-size: 16px;
  line-height: 160%;
  color: #021206;
  opacity: 0.7;
}
.software-img{
  width: 75px;
  height: 75px;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 25px;
}
.software-items:nth-child(1) div{
  background: linear-gradient(141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
mix-blend-mode: normal;
box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
}
.software-items:nth-child(2) div{
  background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
}
.software-items:nth-child(3) div{
  background: linear-gradient(163.65deg, #FCD876 4.69%, #FABC13 88.66%);
  background-blend-mode: luminosity;
  mix-blend-mode: normal;
  box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
}
.software-items:nth-child(4) div{
  background: linear-gradient(143.75deg, #FE9AF4 0%, #EC4EDC 88.72%);
background-blend-mode: luminosity;
mix-blend-mode: normal;
box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
}